h1 {

    background-color: rgb(118, 118, 181);

    color: whitesmoke;

    text-align: center;
}

.nav-bar {

    overflow: hidden;

    background-color: lightskyblue;

}

.nav-bar a {

    padding: 30px 20px;

    font-size: 15px;

    color: rgb(0, 0, 255);

    display: line;

    outline: 0;

    text-decoration: none;

}

.nav-bar a:hover {

    background-color: rgb(78, 127, 153);

    color: white;

}

.nav-bar a.active {

    background-color: #000000;

    color: aliceblue
}

.Intro p {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(72, 77, 153);
}

.Intro img {
    margin-left: auto;
    margin-right: 0px;
    display: block;
    float: right;
    border-color: #e0d210;
    border-width: 15px;
    border-style: double;
}